.button {
  width: 240px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px 32px;

  border-radius: 9999px;
  border: none;

  font-size: 16px;
  font-weight: bold;

  color: white;
  background: linear-gradient(70deg, #70c3ff, #4d68ff);
}
