.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  width: 260px;
}

.rule {
  margin: 6px 0 0 16px;
  font-size: 12px;
}
.error {
  color: var(--color-error);
}
.success {
  color: var(--color-success);
}
